
:root {
  --blue-black:#0D6EFDc0;
  --border-width:rgba(0, 0, 0, 0)676;
  --light-box-shadow: 0 2px 4px rgba(114, 114, 114, 0.767); /* Change these values as needed */
}




/* For Webkit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px; /* Change the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background: var(--border-width); /* Change the color of the scrollbar thumb (the draggable part) */
  border-radius: 6px; /* Round the corners of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: var(--border-width); /* Change the color of the thumb when hovering */
}

::-webkit-scrollbar-track {
  background: var(--border-width); /* Change the color of the scrollbar track (the background) */
  border-radius: 6px; /* Round the corners of the track */
}


*{
outline: 0 ;
  padding: 0;
  margin: 0 ;
  border: none;
font-family: Poppins;
  box-sizing: border-box !important;
}




html {
  font-size: 13px; /* Change this value as needed */
}
#root{


}

.main{
  display: flex;
  overflow: hidden;
  flex-direction: column;
 background-image: url('/images/app-bg-home.png') ;
 background-size: contain;
 height: auto !important;
 min-height: 100vh;
 position: relative;

 position: relative;
 
  
}

main :before{
  content: '';
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255) !important; 

}


.body{
  align-self: center !important;

  display: flex;
  height: 100% !important;
  
}


.login-container{

padding: 15px;
display: flex;
font-family: Poppins;
flex-direction: column;
justify-content: center;
align-items: start;
border-radius: 10px;
height: auto;
 box-sizing: border-box;
 margin-top: 20px;
width: 100% !important;
max-width: 700px !important;
font-size: 2rem;
 
background-color:#fff;
padding: 50px !important;
}


 button{
  box-shadow: var(--light-box-shadow);
 }

.login-container label{
 margin-top: 10px;
 font-size: 1.6rem;
 color: #747474;
 
font-weight: 300;
}
a{color: #004ffaab!important;}

.login-container h1{

align-self: center;
color: #000000ab;
font-weight: 600;
}

h1{
  color: #10141F !important;
}
.login-container input{

  width: 100%;
 margin: 10px 3px;
  border-radius: 6px;
  border: 2px solid #000;
  outline: none;
  font-weight: 400;
  
  font-size: 1.5rem;
  padding: 13px 8px;
 
}

 .login-btn{
margin: 30px 70px;
  align-self: center;
  font-family: Lato;
  background-color:var(--blue-black);
  border-radius: 5px;
  padding: 10px 20px;
  font-family: Poppins;
  font-size: 1.6rem;
  font-weight: 600;
  color: aliceblue;

}

.logbtn{

  align-self: center;
  
  font-size: 1.6rem;
}
.logbtn :active{
  background-color:#000 !important;


}

.login-help{
  width: 100%;
  margin-top: 2px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

  font-size: 1.5rem;
}

.alert-error{
font-size: 1.3rem;
width: 100%;

}

.header{
  background-color: #fff;
  height: 10%;
  display:  flex;
  flex-direction: row;
  font-size: 2.8rem !important;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--light-box-shadow);
  z-index: 1001;
}

.header div {
color: var(--blue-black);
 
padding: 5px;
}


.dashbaord-section{
  font-family: poppins !important;
 background-color: rgb(255, 255, 255);
 padding: 10px;
 max-width: 500px !important;
 height: auto;
 width: 100vw;
 
 box-shadow: var(--light-box-shadow);

 

}
.dash-upper{
  display: flex;
  padding: 10px;
  flex-direction: column;
border: 1px solid var(--blue-black);
border-radius: 15px;
height: auto;

}

.dash-upper small{

  align-self: flex-start;
  font-size: 1.2rem;
  justify-self: flex-start;
}
.dash-upper p{

font-size: 2.4rem;
font-weight: 600;
color: #10141F !important;
font-family: poppins;


align-self: center;
}
.dash-action-buttons{

  display: flex;
padding: 30px 1px;
  flex-direction: row;
  justify-content: space-around !important; 
  align-items: center;
}
.dash-action-buttons button{

  padding: 10px 15px;
  font-size: 1.2rem;
  margin: 3px 5px;
  font-weight: bold;
  border-radius: 7px;
}
.dash-action-buttons button:active{

  background-color: #000;
  color: #fff;
}

.dash-lower{


display: flex;
justify-content: center;

  height: auto;
  margin-top: 10px;
  background-color: #ffffff;
  flex-direction: column;
}

.airtime-data-card {


display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: center;
}

.airtime-data-card div {
background-color: #fff;


display: flex !important;

border-radius: 5px;
font-size: 1rem;
font-weight: bold;
}

.soon-card{
  display: flex;
  justify-content: center;
  align-items: center;

padding: 50px;
background-color: #fff;
margin-top: 20px;
padding: 15px;
 flex-direction: column;
  color: #0f0f0f;
}


.soon-card img{

height: 25vh;
width: 100vw;
max-width: 500px;
border-radius: 25px;
box-shadow: var(--light-box-shadow);
margin:50px  5px !important;

}
.buy-data-section{
background-color: #fff;
display: flex;
font-size: 1.5rem;
flex-direction: column;
margin-top: 50px;
  height:auto !important;
  padding: 30px;
 padding-top: 40px;
 overflow: scroll;
}



.buy-data-section input{
border-radius: 10px;
padding: 10px;
border: 2px solid #000;
margin: 5px 0px;

}

.buy-data-section label{
font-size: 1.4rem;
margin-top: 10px;

}
.buy-data-section p{
margin-top: 10px;
align-self: center;
color: var(--blue-black);
font-weight: 400;

}
.buy-data-section h1{
font-weight: bold;
color: #10141F;
font-family: Poppins;

  
  }
.networks-row{

  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}


.nt-col {

  display: flex;
  align-items: center !important;
  padding-left: 10px !important;
  justify-content: center;
}
.nt-col div{
  display: flex;
  height: 70px;
align-items: center !important;
border-radius: 20px;
margin-top: 1px;
justify-content: center;
width: 70px;
}

.nt-col :hover{
 
border: 2px solid #000 !important;
padding:20px !important;
 

}

.mtn{
  background-image: url('/images/mtn-logo.png');
background-size:  cover;
background-repeat: no-repeat;
 

}
 
.airtel{

    background-image: url('/images/airtel-logo.png');
  background-size:  contain;
  background-repeat: no-repeat;
  
  
}

.glo{
  background-image: url('/images/glo-logo.jpeg');
background-size:  contain;
background-repeat: no-repeat;


}

.m9mobile{
  background-image: url('/images/9mobile-logo.jpg');
background-size:  contain;
background-repeat: no-repeat;


}

.check-div{

  height: 100% !important;
  background-color: #000000bb;
  align-self: flex-start;
}


.item-menu{
overflow: scroll !important;
}

.gen-btn{
  margin: 10px;
    align-self: center;
    font-family: Lato;
    background-color:var(--blue-black);
    border-radius: 5px;
    padding: 8px 20px;
    font-family: Poppins;
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
  }
  .gen-btn:active , #dropdown-basic :hover{

    background-color:#000 !important;
  }
  #dropdown-basic{
font-size: 1.8rem !important;
outline: none !important;
border: none;
    background-color:var(--blue-black);
  }

  #dropdown-basic:active{ 
background-color: rgb(0, 0, 0) !important;

  }

 .dditem{
    color:var(--blue-black) !important;
    font-size: 1.5rem;
  }

  .data-error
  {

    margin-top: 10px;
  }

  .dash-shadow{

padding: 20px !important;
box-shadow: var(--light-box-shadow);
   }

   .header div  .dropdown-toggle::after {

    display: none !important;
   }

   .loader-container{
position:fixed;
background-color: rgba(248, 248, 248, 0.834);
height: 100vh;
display :flex;
justify-content: center;
align-items: center;
width: 100vw;
z-index: 1000;
 }

 
 .loader-container2{
  position:absolute;
  top: 0;
  left: 0;
  background-color: rgba(248, 248, 248, 0.834);
  height: 100vh;
  display :flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  z-index: 1002;
   }
 .loader-container div{
  padding: 40px;
 }
 .loader-container2 i{
  align-self: flex-start;
  
 }

.popup-success{
position: absolute;
max-width: 500px;
background-color: #fff;
border-radius: 15px;
padding:  40px 10px;
width: 80vw;
color: #000000;
box-shadow: var(--light-box-shadow);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
z-index: 99;
top: 50%;
left: 50%;

transform: translate(-50%, -50%);


}

.popup-success p{

  font-size: 1.5rem;
  text-align: center;
}

.transactions-container{

width: 100%;
margin: 15px;
background-color: #747474;
}