
:root {
  --blue-black:rgba(1, 23, 119, 0.753);
  --light-box-shadow: 0 2px 4px rgba(114, 114, 114, 0.767); /* Change these values as needed */
}
*{

  padding: 0;
  margin: 0 ;
font-family: Poppins;
  box-sizing: border-box !important;
}


html {
  font-size: 13px; /* Change this value as needed */
}
#root{


}

.main{
  display: flex;
  flex-direction: column;
 background-image: url('./public/images/app-bg-home.png');
 background-size: contain;
 height: auto !important;
 min-height: 100vh;
 
  
}


.body{
  align-self: center !important;

  display: flex;
  height: 100% !important;
  
}
.login-container{

padding: 15px;
display: flex;
font-family: Poppins;
flex-direction: column;
justify-content: center;
align-items: start;
border-radius: 10px;
height: auto;
 box-sizing: border-box;
 margin-top: 20px;
width: 100% !important;
max-width: 700px !important;
font-size: 2rem;
 
background-color:#fff;
padding: 50px !important;
}
 button{
  box-shadow: var(--light-box-shadow);
 }

.login-container label{
 margin-top: 10px;
 font-size: 1.6rem;
 color: #747474;
 
font-weight: 300;
}
a{color: #004ffaab!important;}

.login-container h1{

align-self: center;
color: #000000ab;
font-weight: 600;
}

.login-container input{

  width: 100%;
 margin: 10px 3px;
  border-radius: 6px;
  border: 3px solid #000;
  outline: none;
  font-weight: 400;
  
  font-size: 1.5rem;
  padding: 17px 8px;
 
}

.login-btn{
margin: 30px 70px;
  align-self: center;
  font-family: Lato;
  background-color:#000;
  border-radius: 5px;
  padding: 10px 20px;
  font-family: Poppins;
  font-size: 1.6rem;
  font-weight: 600;
  color: aliceblue;

}

.login-help{
  width: 100%;
  margin-top: 2px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

  font-size: 1.5rem;
}

.alert-error{
font-size: 1.3rem;
width: 100%;

}

.header{
  background-color: #fff;
  height: 10%;
  display:  flex;
  flex-direction: row;
  font-size: 2.8rem;
  align-items: center;
  justify-content: space-between;
}

.header div {
color: var(--blue-black);
 
padding: 10px;
}

.header div:hover{

  background-color: #cacaca;
}
.dashbaord-section{
  font-family: poppins !important;
 background-color: rgb(255, 255, 255);
 padding: 10px;
 height: auto;
 width: 100vw;

 

}
.dash-upper{
  display: flex;
  padding: 10px;
  flex-direction: column;
border: 2px solid var(--blue-black);
border-radius: 5px;
height: auto;

}

.dash-upper small{

  align-self: flex-start;
  font-size: 1.2rem;
  justify-self: flex-start;
}
.dash-upper p{

font-size: 2.4rem;
font-weight: 600;
color:#000;
font-family: poppins;


align-self: center;
}
.dash-action-buttons{

  display: flex;
padding: 30px 1px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.dash-action-buttons button{

  padding: 10px 15px;
  font-size: 1.3rem;
  margin: 3px 5px;
  font-weight: bold;
  border-radius: 7px;
}
.dash-action-buttons button:active{

  background-color: #000;
  color: #fff;
}

.dash-lower{
display: flex;
justify-content: center;
  height: auto;
  margin-top: 10px;
  background-color: #000;
  flex-direction: column;
}

.airtime-data-card {


display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: center;
}

.airtime-data-card div {
background-color: #fff;


display: flex !important;

border-radius: 5px;
font-size: 1rem;
font-weight: bold;
}

.soon-card{
  display: flex;
  justify-content: center;
  align-items: center;
padding: 50px;
background-color: #fff;
margin-top: 20px;

 flex-direction: row;
  color: #0f0f0f;
}

.buy-data-section{
background-color: #fff;
display: flex;
font-size: 1.5rem;
flex-direction: column;
margin-top: 50px;
  height:auto !important;
  padding: 30px;
 padding-top: 40px;
}

.buy-data-section input{
border-radius: 10px;
padding: 10px;
border: 2px solid #000;
margin: 5px 0px;

}

.buy-data-section label{
font-size: 1.4rem;
margin-top: 10px;

}
.buy-data-section p{
margin-top: 10px;
align-self: center;
color: var(--blue-black);
font-weight: 400;

}
.buy-data-section h1{
font-weight: bold;
font-family: Poppins;

  
  }
.networks-row{

  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}


.nt-col {

  display: flex;
  align-items: center !important;
  padding-left: 10px !important;
  justify-content: center;
}
.nt-col div{
  display: flex;
  height: 70px;
align-items: center !important;
border-radius: 20px;
margin-top: 1px;
justify-content: center;
width: 70px;
}

.nt-col :hover{
 
border: 2px solid #000 !important;
padding:20px !important;
 

}

.mtn{
  background-image: url('./public/images/mtn-logo.png');
background-size:  cover;
background-repeat: no-repeat;
 

}
 
.airtel{

    background-image: url('./public/images/airtel-logo.png');
  background-size:  contain;
  background-repeat: no-repeat;
  
  
}

.glo{
  background-image: url('./public/images/glo-logo.jpeg');
background-size:  contain;
background-repeat: no-repeat;


}

.m9mobile{
  background-image: url('./public/images/9mobile-logo.jpg');
background-size:  contain;
background-repeat: no-repeat;


}

.check-div{

  height: 100% !important;
  background-color: #000000bb;
  align-self: flex-start;
}

.gen-btn{
  margin: 30px 70px;
    align-self: center;
    font-family: Lato;
    background-color:var(--blue-black);
    border-radius: 5px;
    padding: 8px 20px;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
  }
  .gen-btn:active , #dropdown-basic :hover{

    background-color:#000;
  }
  #dropdown-basic{
font-size: 1.5rem;
    background-color:var(--blue-black);
  }

 .dditem{
    color:var(--blue-black) !important;
    font-size: 1.5rem;
  }

  .data-error
  {

    margin-top: 10px;
  }